@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Components */

/* Button */

.button {
  padding: 8px 50px;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
}

.button:disabled {
  color: rgba(255, 255, 255);
  background-color: #E5E5E5;
  cursor: not-allowed;
}

.button:focus-visible {
  outline: none;
}

/* Button primary */

.button-primary {
  background-color: #756157;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #615048;
}

.button-primary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

/* Button secondary */

.button-secondary {
  background-color: #82B3D3;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: #68A2CA;
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

/* Button success */

.button-success {
  background-color: #7DB54F;
}

.button-success:hover,
.button-success:focus {
  background-color: #6C9E42;
}

.button-success:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

/* Button ghost */

.button-ghost {
  background-color: transparent;
}

.button-ghost:hover,
.button-ghost:focus {
  opacity: 0.6;
}

.button-ghost:focus-visible {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.button-ghost:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Pages */

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
}

/* Header */

.page-header {
  z-index: 1;
  padding: 0 70px;
  box-sizing: border-box;
}

.header-logo {
  margin-bottom: -6px;
  vertical-align: bottom;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 360px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  color: inherit;
  text-decoration: inherit;
}

.navigation-link-current::before {
  position: absolute;
  bottom: 0;
  left: 12px;
  right: 12px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
}

.navigation-user svg {
  display: block;
}

.navigation-user .navigation-link {
  position: relative;
  padding: 20px 12px;
  min-width: 20px;
  min-height: 20px;
}

.navigation-user .navigation-item:last-child {
  margin-left: 20px;
}

.navigation-user .button {
  display: block;
  padding: 8px 34px;
}

.navigation-link-favorites .count {
  position: absolute;
  display: block;
  top: 10px;
  left: 20px;
  min-width: 20px;
  height: 20px;
  margin: 0;
  padding: 5px;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 100vw;
  box-sizing: border-box;
}

/* Main */

/* Hero */

.hero {
  color: #000000;
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #c2c2c2;
  background-image: url('../images/background-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

/* Advantages */

.advantages {
  text-align: center;
}

.advantages-header {
  margin-bottom: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.advantages-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
}

.advantages-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item .advantages-title {
  margin: 0;
  padding: 0;
  order: 1;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item .advantages-description {
  margin: 0;
  padding: 0;
  order: 3;
}

.advantages-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: auto;
  padding: 0 85px;
}

.advantages-item-content::before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: currentColor;
  order: 2;
  margin: 0 auto;
  opacity: 0.3;
}

.advantages-item .advantages-description {
  margin: 0;
  padding: 0;
  order: 3;
}

.advantages-item-with-image {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-column: 1 / -1;
  padding: 0;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-image {
  vertical-align: bottom;
}

.advantages-item-with-image:last-child .advantages-image {
  grid-column: 1 / 3;
  order: -1;
}

.advantages-item-with-image:last-child .advantages-item-content {
  grid-column: 3 / 4;
}


.advantages-item-bg-alt {
    background-color: rgba(131, 179, 211, 0.2);
}

/* Services */

.services {
  text-align: center;
}

.services-header {
  padding-top: 64px;
  padding-bottom: 64px;
}

.services-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.services-description {
  margin: 0;
  padding: 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding: 80px 85px;
}

.services-item svg {
  height: 70px;
}

.services-item .services-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Booking */

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.booking-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.booking-description {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  max-width: 590px;
}


/* TODO: Кнопка не совпадает с макетом, нужно переделать */
.booking-button-search-hotel {
  font-size: 20px;
  line-height: 36px;
}

/* Newsletter */

.newsletter {
  padding: 95px 260px;
  text-align: center;
}

.newsletter-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.newsletter-form {
  display: flex;

}

.newsletter-input {
  padding: 14px 20px;
  width: 452px;
  max-height: 52px;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.newsletter-input:focus,
.newsletter-input:active {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.newsletter-button-submit {
  padding: 8px 50px;
  width: 232px;
  height: 52px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.newsletter-bg-img {
  color: #ffffff;
  background-color: #c2c2c2;
  background-image: url('../images/background-newsletter.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 75px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  display: block;
  padding: 14px 12px;
  min-width: 24px;
  min-height: 14px;
}

.footer-social-vk {
  background-image: url('/images/icons/vk.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.footer-social-tg {
  background-image: url('/images/icons/telegram.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.footer-social-yt {
  background-image: url('/images/icons/youtube.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-developer-link img {
  display: block;
}

/* Catalog */

/* Filters */

.catalog-hero {
  padding: 35px 70px;
  color: #ffffff;
  background-color: #000000;
  background-image: url('../images/background-catalog-filters.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
  gap: 30px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  display: block;
  margin: auto 0;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15px;
  width: 15px;
  height: 15px;
  background-image: url('/images/icons/breadcrumbs-chevron-right.svg');
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(50%) translateY(-50%);
}

.breadcrumbs-link {
  display: block;
  min-width: 12px;
  min-height: 12px;
  color: inherit;
  text-decoration: inherit;
}

.breadcrumbs-item:first-child .breadcrumbs-link::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url('/images/icons/home.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
}

.catalog-filter-actions {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-top: auto;
}

.catalog-filter-actions .button {
  width: 191px;
  height: 36px;
}

/* Catalog result */

.catalog-results {
  padding: 0 70px;
  padding-top: 50px;
}

.catalog-results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px
}

.catalog-results-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-container {
  display: flex;
  align-items: center;
  max-width: 600px;
}

.sorting-container .select-control {
  margin-right: 70px;
}

.view-mode-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.view-mode-button {
  display: block;
  width: 48px;
  height: 48px;
  color: #000000;
  border: 2px solid #E5E5E5;
  text-decoration: none;
  outline: none;
}

.view-mode-button svg {
  display: block;
  height: 100%;
  margin: auto;
}

.view-mode-button-current {
  color: #000000;
  border: 2px solid #000000;
}

.view-mode-button:hover,
.view-mode-button:active {
  border: 2px solid #000000;
}

.view-mode-button:focus-visible {
  border: 2px solid #68A2CA;
}

/* Hotel list */

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 16px 20px;
  width: 340px;
  height: 100%;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  box-sizing: border-box;
}

.hotel-card-link {
  color: inherit;
  text-decoration: none;
}

.hotel-card-image-link {
  grid-column: 1 / -1;
}

.hotel-card-image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.hotel-card-title {
  grid-column: 1 / -1;
}

.hotel-card-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card-type,
.hotel-card-price {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.hotel-card-price {
  justify-self: end;
}

.hotel-card .button {
  width: 140px;
  margin: 0;
  padding: 8px 18px;
  text-align: center;
  box-sizing: border-box;
}

.hotel-card-button-favorite {
  justify-self: end;
}

.hotel-card-stars {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 120px;
  height: 100%;
  background-image: url('/images/icons/star.svg');
  background-repeat: repeat-x;
  background-position: left center;
  background-size: 24px 17px;
}

.stars-1 {
  width: 24px;
}

.stars-2 {
  width: 48px;
}

.stars-3 {
  width: 72px;
}

.stars-4 {
  width: 96px;
}

.stars-5 {
  width: 120px;
}


.hotel-card-rating-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 37px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-disabled {
  color: #000000;
  background-color: transparent;
}
